@import "./styles/mixins";
@import "./styles/elements/buttons.scss";
@import "./styles/elements/links.scss";

html,
body,
div#root,
.page-container,
.main-container {
	height: 100%;
}

.page-container {
	display: flex;
	flex-direction: column;

	.main-container {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin: 0 auto;
		max-width: 980px;
		width: 100%;

		@include screen-md {
			flex-direction: row;
		}

		main {
			flex-grow: 1;
		}

		.page-navigation-wrapper {
			@include screen-md {
				flex-basis: 136px;
				flex-shrink: 0;
			}
		}
	}
}
