:root {
	--box-shadow-grey: #cccccc;
	--link-color: #ffffff;
	--light-blue: #b0e4f7;
	--text-color: #cdcdcd;
	--light-blue-hover: #188cf1;

	--bg-yellow: #fef6d8;
	--bg-blue: #cfeeff;
	--bg-green: #edf7e4;
	--bg-red: #fad7d7;

	--functional-yellow: #fecb00;
	--functional-blue: #009de0;
	--functional-green: #46a800;
	--functional-red: #d90000;
}

html {
	background: url("./assets/background.png") repeat;
	color: var(--text-color, white);
	font-family: "Space Grotesk", sans-serif;
}

.space-nowrap {
	white-space: nowrap;
}
