@import "../../styles/mixins";
@import "../../styles/elements/quest-listitem.scss";
@import "../../styles/structures/main-sections.scss";

.main-section-header {
	margin-bottom: 16px;

	.quest-listitem {
		display: inline-flex;
	}
}

.quest-description {
	margin-bottom: 32px;
}

.quest-indicator-section {
	display: flex;
	flex-direction: column;
	gap: 16px;
	justify-content: space-between;
	margin-bottom: 32px;

	@include screen-md {
		align-items: center;
		flex-direction: row;
	}
}

.quest-card-indicator {
	border: solid white 1px;
	border-radius: 4px;
	font-size: 1.5rem;
	margin-left: 8px;
	padding: 12px;
}

.quest-token-list {
	display: flex;
	gap: 8px;

	.quest-token-indicator {
		backdrop-filter: blur(2px);
		background-color: rgba(#b0e4f7, 0.3);
		border-radius: 4px;
		border: 2px solid transparent;
		display: inline;
		padding: 4px 8px;
	}
}

.quest-start-button {
	margin-top: 32px;

	@include screen-md {
		margin-top: inherit;
	}
}

.empty-quest-warning {
	text-align: center;
}
